.about-main-link, .about-main-link:visited {
	font-size: 1rem;
	color: #333333;
}

.about-sub-link, .about-sub-link:visited {
	color: #797979;
}

.about-main-link:hover, .about-sub-link:hover {
	text-decoration: none;
} 

.about-menu {
	
}

.about-menu .divider {
	margin: 16px 0 16px 0 !important;
	left: -16px;
	position: relative;
	width: calc(100% + 33px);
}

.about-menu a {
	border-bottom: 2px solid transparent;
	line-height: 22px;
}

.about-menu a.active {
	border-bottom: 2px solid #2D80B5;
}