.tagList {
  display: flex;
  flex-wrap:wrap;
}

.tags{
  font-size: 12px;
  padding: 2px 5px;
  background-color: #f1f1f1;
  margin: 0px 5px 5px 0;
}

.articleTitle{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.articlesubText{
  font-size: 12px;
}

.articleItem{
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
}

.articleItem:hover{
  color: #2D80B5;
}