.article-notification {
	width: calc(100% + 8px);
	margin: 0 0 16px 16px;
	padding: 0.75rem 1rem;
	position: fixed;
	top: 56px;
	z-index:1000;
	left:0;
	color:#fff !important;
	background-color: rgba(45,128,181,0.5);
	text-align: center;
	margin-bottom:  0rem;
	margin-left: 0;
  	box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.15);
	cursor: pointer !important;
}

.article-notification--from-modal {
  top: 0;
}

.article-notification span {
	margin: 0 auto;
	font-weight: 600;
	font-size: 1rem;
}

.article-notification svg {
    position: absolute;
	width:24px;
	height:auto;
    right: 10px;
    cursor: pointer;
    color: #fff;
}
