.btn {
  align-items: center;
  border: 1px solid #333;
  color: #fff;
  cursor: pointer;
  display: flex;
  font: 1rem/1 'Open Sans', sans-serif;
  justify-content: center;
  max-width: 250px;
  padding: 10px 15px;
}

.btn:hover {
  border: 1px solid #555;
  color: #fff;
  text-decoration: none;
}

.btn.primary {
  background: #308AC1;
  background: -moz-linear-gradient(top, #308AC1 0%, #2A79AA 100%);
  background: -webkit-linear-gradient(top, #308AC1 0%, #2A79AA 100%);
  background: linear-gradient(to bottom, #308AC1 0%, #2A79AA 100%);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#308AC1', endColorstr='#2A79AA', GradientType=0);
}

.btn.primary:hover {
  background: #3494D1;
  background: -moz-linear-gradient(top, #3494D1 0%, #308AC1 100%);
  background: -webkit-linear-gradient(top, #3494D1 0%, #308AC1 100%);
  background: linear-gradient(to bottom, #3494D1 0%, #308AC1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3494D1', endColorstr='#308AC1', GradientType=0);
}

.btn.secondary {
  background: #666666;
  background: -moz-linear-gradient(top, #666666 0%, #555555 100%);
  background: -webkit-linear-gradient(top, #666666 0%, #555555 100%);
  background: linear-gradient(to bottom, #666666 0%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#555555', GradientType=0);
}

.btn.secondary:hover {
  background: #777777;
  background: -moz-linear-gradient(top, #777777 0%, #666666 100%);
  background: -webkit-linear-gradient(top, #777777 0%, #666666 100%);
  background: linear-gradient(to bottom, #777777 0%, #666666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#666666', GradientType=0);
}
