.country-data-list {
  margin: 15px 0;
}

.country-data-list li {
  margin: 10px 0;
}

.country-data-list__title {
	font-size: 1.25rem;
	font-weight: 600;
}

.country-data-container {
	width: 340px;
	height: 31rem;
}

.country-data-container > div {
	height: 100%;
}

.country-data-container .divider {
	clear: both;
	margin: 20px -1rem;
}

.country-data-container .remarks-title {
	font-size: 1.1rem;
	margin-bottom: 6px;
}

.country-data-container ul li {
	font-weight: 600;
	font-size: 0.8rem;
	margin-bottom: 11px;
}

.all-country-articles {
	font-weight: 600;
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	align-items: flex-end;
}