.country-data-list {
  margin: 15px 0;
}

.country-data-list li {
  margin: 10px 0;
}

.country-data-list__title {
	font-size: 1.25rem;
}

.country-data-container .divider {
	clear: both;
	margin: 20px -1rem;
}