.country-data-list {
  margin: 15px 0;
}

.country-data-list li {
  margin: 10px 0;
}

.country-data-list__title {
	font-size: 1.25rem;
	font-weight: 600;
}

.country-data-container {
	width: 340px;
}

.country-data-container .divider {
	clear: both;
	margin: 1rem -1rem 1rem -1rem;
	background-color: rgba(0, 0, 0, 0.05);
}

.country-data-container .remarks {
	font-size: 1.1rem;
	margin-bottom: 6px;
}

.country-data-container ul li {
	font-weight: 600;
	font-size: 0.8rem;
	margin-bottom: 11px;
}

.country-data-container ul {
	margin-bottom: 86px;
}

.all-country-articles {
	font-weight: 600;
	display: flex;
	justify-content: flex-end;
}