.data-stats-container {
  margin: 0 auto 25px auto;
  width: 90%;
}

.stats-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats-item {
  background: #f6f6f6;
  flex-basis: 33%;
  margin-bottom: 10px;
  padding: 15px;
}

.stats-headline {
  background-color: #2270a1;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232a79aa' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
  display: block;
  font: 1.25rem/1 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 5px;
  text-transform: uppercase;
}

.stats-item ol span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}

.stats-list {
  font-size: 1rem;
}

.stats-list li {
  padding: .15rem 0;
}

.rank-container {
  justify-content: space-around;
}

.stats-list li:first-child {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.stats-list li:nth-child(even) {
  background: #eee;
}

.rank-headline {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.rank-value {
  display: block;
  font-size: 1.1rem;
  text-align: center;
}

.ranking-value {
  background: #fcfcfc;
  border-top: 3px solid #2270a1;
  color: #000;
  flex-basis: 45%;
  padding: 5px;
}

cite {
  color: #333;
  display: block;
  font-size: .8rem;
  font-style: italic;
  text-align: right;
}
