.data-map-container {
  height: calc(100vh - 56px);
  /* 64px - the height of the nav */
  /* Create space between the following Stats section to acommodate the active Timeline down arrow */
  position: relative;
  background: rgba(250, 250, 250, 1);
  margin-top: 56px;
  justify-content: space-between;
}

.country-data-container {
  background: rgba(255, 255, 255, .85);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
  margin: 1.5rem 0 0 1rem;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 2;
  min-height: 500px;
  height:81%;
  max-height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
} 
.time-series-graph{
  margin:2rem 0 1.5rem 0;
}
.data-filter-container {
  background: rgba(255, 255, 255, .85);
}

.map-container__reset {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  border-bottom: 1px solid #eee;
}
.map-container__finland {
  position: absolute;
  right: 1rem;
  top: 3.75rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  border-bottom: 1px solid #eee;
}
.map-container__download {
  position: absolute;
  right: 1rem;
  top: 6rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
}
.reset-icon {
  opacity: 0.5;
}

.reset-icon:hover {
  opacity: 1;
}
.finland-icon {
  opacity: 0.5;
}

.finland-icon:hover {
  opacity: 1;
}
.download {
  opacity: 0.5;
}

.download:hover {
  opacity: 1;
}