.peace-index-indicator {
  background: #ccc;
  height: 10px;
}

.timeline-item {
  background: #c8c8c8;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  flex: 1;
  position: relative;
  text-align: center;
  transition: background .25s ease;
  height: 2.5rem;
}

.timeline{
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 0;
}

.timeline-item:hover{
  background: #dadada;
  color: #212121;
}

.timeline-item svg {
  cursor: pointer;
  margin: 6px 0;
}

.timeline-item.active {
  background: #ffffff;
  color: #212121;
  font-weight: 700;
}

.activeTab{
  background: #ffffff;
  color: #212121;
  font-weight: 700;
}

.timeline-item span {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.play-button {
  cursor: pointer;
  width: 4rem;
  height: 2.5rem;
  background-color:#c8c8c8;
  margin-right: 1px; 
  border: 0 !important;
}

.play-button.active-play {
  background: #ffffff;
}

.play-button:hover{
  background: #dadada;
}