.data-list-total {
	align-items: center;
	margin-bottom: 10px;
}

.data-list-total__value {
	font-weight: 600;
	font-size: 1rem;
	color: #fff;
}

.data-list-total__name {
	font-weight: 600;
	font-size: 1rem;
	color: #fff;
}

.data-list-total__year {
	font-size: 1.5rem;
	color: #fff;
}

.data-list-total__sparkline {
	width: 90px;
}

.country-data-container .flex-container-row {
	justify-content: space-between;
}

.country-data-container .flex-container-row:nth-child(2) {
	margin-bottom: 0.25rem;
}