.downloads{
	padding-left: 2rem !important;
	padding-right: 0.5rem !important;

  flex-wrap: wrap;
}

.downloads .card {
	width: calc(33.33% - 24px) !important;
	margin-right: 24px;
	margin-bottom: 24px;
  padding-right: 8px;
	border-radius: 2px;
}

@media (min-width: 1440px) {
  .downloads .card {
	  width: calc(25% - 24px) !important;
  }
}

.downloads .card .download-icon {
  width: 24px;
  height: auto;
}

.downloads .card a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloads .card a, .downloads .card a:hover {
	text-decoration: none;
	color: #2D80B5;
}

.downloads .header {
  padding-top: 12px;
  padding-bottom: 10px !important;
}

.downloads .header span {
  font-size: 0.875rem;
	color: #2D80B5 !important;
	font-weight: 600;
}

.downloads .content {
    font-size: 0.75rem;
    line-height: 1.375rem;
    font-style: italic;
    font-weight: 400;
    padding-top: 0rem;
	color:rgba(33,33,33,0.6);
	padding-bottom: 0;
}

.downloads .actions {
	justify-content: flex-end;
	padding: 0;
	height: 2rem;
}
.downloads .actions * {
	color: #aaa;
}

.downloads .ClickHere{
	padding-bottom: 0.5rem;
	position: absolute;
	bottom: 28px;
	text-transform: uppercase;
	font-weight: 700;
	opacity: 0.8;
	color: #2D80B5;
	font-size: 0.75rem;
}
