.downloads{
	padding-left: 2rem !important;
	padding-right: 0.5rem !important;
	margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

.download-heading:first-of-type{
	margin-top: 0.25rem;
}

.download-heading{
	padding-left: 2rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-weight: 600;
}

.downloads .card {
	width: calc(33.33% - 24px) !important;
	margin-right: 24px;
	margin-bottom: 24px;
	border-radius: 2px;
}

@media (min-width: 1440px) {
  .downloads .card {
	  width: calc(25% - 24px) !important;
  }
}

.downloads .card .download-icon {
  width: 24px;
  height: auto;
}

.downloads .card a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloads .card a, .downloads .card a:hover {
	text-decoration: none;
	color: #2D80B5;
}

.xls::before{
  display: block;
  content: ' ';
	background-image: url('xls-icon.svg');
	width:24px;
	height: 27px;
	margin-right: 0.5rem;
	background-repeat: no-repeat;
}

.pdf::before{
  display: block;
  content: ' ';
	background-image: url('pdf-icon.svg');
	width:24px;
	height: 27px;
	margin-right: 0.5rem;
	background-repeat: no-repeat;
}
.header::after{
  display: block;
  content: ' ';
	background-image: url('download-icon.svg');
	width:24px;
	height: 27px;
	background-repeat: no-repeat;
	right:0px;
}

.downloads .header {
	width: 100%;
	padding-bottom: 1rem !important;
}

.downloads .header span {
  font-size: 0.875rem;
	color: rgba(33,33,33,1) !important;
	font-weight: 500;
}

.downloads .header span:hover {
	color: #2D80B5 !important;
}

.downloads .content {
    font-size: 0.75rem;
    line-height: 1.375rem;
    font-style: italic;
    font-weight: 400;
    padding-top: 0rem;
	color:rgba(33,33,33,0.6);
	padding-bottom: 0;
}

.downloads .actions {
	justify-content: flex-end;
	padding: 0;
	height: 2rem;
}
.downloads .actions * {
	color: #aaa;
}

.downloads .ClickHere{
	padding-bottom: 0.5rem;
	position: absolute;
	bottom: 28px;
	text-transform: uppercase;
	font-weight: 700;
	opacity: 0.8;
	color: #2D80B5;
	font-size: 0.75rem;
}
