.map-legends {
	padding: 0 0.5rem 0.5rem 0.5rem;
	position: fixed;
	width:355px;
	left: 1rem;
	bottom: 3rem;
	z-index: 9999;
	background: rgba(255,255,255,0.3) !important;
	font-size: 9px;
}

.map-legends .label {
	font-size: 0.7rem;
	margin-bottom: 7px;
	display: block;
}

.map-legends ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.map-legends ul li {
	display: inline-block;
	width: 40px;
	height: 6px;
}

.GPI-head{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divider{
	opacity:0.25;
	margin: 0.65rem -0.5rem;
}
.MuiIconButton-root-17{
	height: 36px !important;
}
.sub-text{
	font-weight: 400;
	font-style: italic;
}

.hiddenDiv{
  display: none;
}