.map-legends {
	padding: 0.5rem;
	position: absolute;
	right: 1rem;
	bottom: 4rem;
	z-index: 9999;
	background: rgba(51, 51, 51, .85) !important;
	font-size: 9px;
	color: #fff !important;
}

.map-legends .label {
	font-size: 0.7rem;
	margin-bottom: 7px;
	display: block;
}

.map-legends ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.map-legends ul li {
	display: inline-block;
	width: 40px;
	height: 6px;
}

.GPI-head{
	font-size: 10px;
	font-weight: 700;
	margin-bottom: 0.2rem;
	color: #fff !important;
}

.divider{
	opacity:0.5;
	margin: 0.65rem -0.5rem;
	shape-rendering: crispEdges;
}

.sub-text{
	font-weight: 400;
	font-style: italic;
}