.map-legends {
	padding: 0.5rem;
	position: absolute;
	right: 1rem;
	bottom: 4rem;
	z-index: 9999;
	background: #ffffff;
	font-size: 9px;
}

.map-legends .label {
	font-size: 0.7rem;
	margin-bottom: 7px;
	display: block;
}

.map-legends ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.map-legends ul li {
	display: inline-block;
	width: 40px;
	height: 6px;
}