.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10000; /* 1 higher than the highest on .map-legends */
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal-inner {
  position: relative;
	max-width: 792px; /* similar to .text-box from containers.css */
  margin: 4rem auto;
}

.cross-icon {    
  position: absolute;
  right: 6px;
  top: -16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 6px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ccc;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
