.primary-nav {
  border-bottom: 1px solid #dcdcdc;
  height: 64px;
  padding: 19px 15px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(121, 121, 121, 0.5);
}

.primary-nav h1 a {
  font-size: 1.5rem;
}

.primary-nav ul {
  align-items: flex-end;
}

.primary-nav ul li:not(:last-child) {
  margin-right: 60px;
}

.primary-nav a, .primary-nav a:active, .primary-nav a:visited, .primary-nav a:hover {
  border-bottom: 3px solid transparent;
  color: black;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  transition: border .25s ease;
}

.primary-nav ul a {
  font-size: 1.15rem;
}

.primary-nav ul a {
  font-size: 1.15rem;
}

.primary-nav a.active {
  border-bottom: 3px solid #2D80B5;
}

.primary-nav .lang-selection {
  font-size: 1.1rem;
}

.primary-nav .lang-selection .selected {
  color: #2D80B5;
  font-weight: 600;
}