.primary-nav {
  height: 56px;
  padding: 0.75rem 1rem;
  position: fixed;
  width: 100%;
  background: rgba(255,255,255,1);
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.10), 0 0 0 1px rgba(0, 0, 0, 0.04);
}

.primary-nav ul {
  align-items: flex-end;
  display: none;

  position: absolute;
  top: 56px;
  left: 0;
  background: white;
  width: 100%;
  height: auto;
  padding: 1.5em;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
}

.primary-nav.primary-nav--open ul {
  display: block;
}

.primary-nav ul li {
  display: block;
  padding: 0.5em 0;
  text-align: center;
}

.primary-nav a {
  border-bottom: 3px solid transparent;
  color: #aaa;
  display: inline-block;
  padding: 0 1px;
  text-decoration: none;
  transition: border .25s ease;
}

.primary-nav ul a {
  font-size: 1.25rem;
  color: #999;
}

.primary-nav a:hover{
  color:#212121;
}

.primary-nav h1 a {
  font-size: 1.5rem;
  margin-top:0.25rem;
  color: #212121;
}

.primary-nav a.active {
  color: #2D80B5;
}

.primary-nav .lang-selection {
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25)
}

.lang-selection a{
  color: #aaa;
  letter-spacing: 1.5px;
}

.primary-nav .lang-selection .selected {
  color: #2D80B5;
}

.logo-link {
  display: flex !important;
  align-items: center;
}

.logo-wrap {
  overflow: hidden;
  width: 42px;
}

.logo {
  padding-right: 0.75rem;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  max-width: initial !important;
}

.logo-sub-text {
  width: 150px;
  font-size: 1.15rem;
  padding-left: 0.75rem;
}

.menu-icon {
  background: none;
  border: none;

  display: inline-block;
  vertical-align: middle;

  margin-left: 0.25em;
}

.menu-icon img {
  width: 20px;
  height: 20px;
}

@media (min-width: 640px) {
  .primary-nav ul {
    display: flex !important;

    position: static;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .primary-nav ul a {
    font-size: 1rem;
  }

  .primary-nav ul li:not(:last-child) {
    margin-right: 30px;
  }

  .menu-icon {
    display: none;
  }
}

@media (min-width: 760px) {
  .logo-sub-text {
    font-size: 1.33rem;
    width: auto;
  }
}

@media (min-width: 840px) {
  .logo-sub-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1100px) {
  .logo-wrap {
    width: auto;
  }

  .primary-nav ul li:not(:last-child) {
    margin-right: 60px;
  }
}
