.stories-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;
  width: 100%;
}

.stories-container article {
  max-width: 365px;
  margin-left: 16px;
  margin-bottom: 16px;
  box-sizing: content-box;
}

.stories-container .story-container {
  align-items: flex-start;
  background: #fff;
  flex-direction: column;
  position: relative;
}

.story-container a {
  text-decoration: none;
  color: inherit;
}

.stories-container .story-text {
  position: relative;
  padding: 20px 15px;
}

.stories-container .story-text h3 {
  font-size: 1rem;
  margin-bottom: 6px;
  font-weight: 600;
}

.stories-container .story-text p {
  margin: 0;
  font-size: 0.9rem;
}

.story-container .story-date {
  background: #fff;
  color: #4d4d4d;
  padding: 15px 20px;
  position: absolute;
  left: 0;
  top: 20px;
  opacity: 0.75;
  font-weight: 600;
}

.story-image {
  width: 100%;
  min-height: 100px;
}

.story-preview__tags {
  color: #797979;
  margin-top: 29px;
  font-size: 0.7rem;
}
