.stories-wrapper {
	flex-direction: row;
	display: flex;
}

.stories-search-wrapper {
	flex: 0 0 350px;
	padding: 25px;
}

.stories-search {
	position: fixed;
	width: 300px;
}

.stories-search > * {
	margin-bottom: 15px;
}

.search-title {
	background: #666666;
	color: #ffffff;
	padding: 15px;
	font-weight: 600;
	font-size: 1.2rem;
}

.search-keyword {
	width: 100%;
}

.search-keyword div {
	border: 1px solid #666666;
}

.search-keyword div:before {
	display: none;
}

.search-keyword input {
	padding: 16px 10px;
    box-sizing: border-box;
}