.top-countries__country{
	margin-bottom: 1rem;
}

.top-countries__country:last-of-type{
	margin-bottom: 0rem;
}

.top-countries__title {
	margin-bottom: 0.5rem;
	color: #fff;
}
.top-countries__name {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	display: flex;
	margin-bottom: 0.25rem;
}

.top-countries__name--order-num {
	width: 10px;
	display: inline-block;
}

.top-countries__name--wrapper {
	margin-right: 20px;
	color: #fff;
}

.top-countries__name--wrapper > span:first-child {
	display: inline-block;
	width: 20px;
}

.top-countries__name--wrapper > span:last-child {
	font-weight: 600;
}

.top-countries__name--sum {
	text-align: right;
}

.top-countries__graphs {
	background: #202020;
	height: 4px;
	position: relative;
	display: flex;
	flex-direction: row;
}

.top-countries__graphs--defence {
  	background: #d90013;
	height: 4px;
}

.top-countries__graphs--civilian {
	background: #FC491E;
	height: 4px;
}

.top-countries {
	font-size: 1rem;
}

.country-rank {
	font-size: 1rem;
	line-height: 23px;
    margin-bottom: 1rem;
}

.civComment{
	color: #FC491E !important;
	margin-top:0.75rem !important;
	font-weight: 700 !important;
	margin-bottom:0.75rem !important;
}

.defComment{
	color: #d90013 !important;
	margin-top:0.75rem !important;
	font-weight: 700 !important;
	margin-bottom:0.75rem !important;
}

.bullet-point {
  font-size: 1rem !important;
  line-height: 23px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
}
.bullet-point a:hover {
  text-decoration: none !important;
  font-weight: 600 !important;
}

.country-row th{
	text-transform: none !important;
	border-top:0px;
	border-bottom:0px;
}
