.top-countries__country{
	margin-bottom: 1rem;
}
.top-countries__title {
	margin-bottom: 0.5rem;
}
.top-countries__name {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	display: flex;
	margin-bottom: .5rem;
}

.top-countries__name--order-num {
	width: 10px;
	display: inline-block;
}

.top-countries__name--wrapper {
	margin-right: 20px;
}

.top-countries__name--wrapper > span:first-child {
	display: inline-block;
	width: 20px;
}

.top-countries__name--wrapper > span:last-child {
	font-weight: 600;
}

.top-countries__name--sum {
	text-align: right;
}

.top-countries__graphs {
	background: #e9e9e9;
	height: 2px;
	position: relative;
	display: flex;
	flex-direction: row;
}

.top-countries__graphs--defence {
  	background: rgb(153, 112, 171);
	height: 2px;
}

.top-countries__graphs--civilian {
	background: rgb(90, 174, 97);
	height: 2px;
}

.top-countries {
	font-size: 1rem;
}

.country-rank {
	font-size: 0.875rem;
}