.top-countries h3 {
	margin-bottom: 1rem;
}

.top-countries__country {
	margin-bottom: 1rem;
}

.top-countries__name {
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	display: flex;
	margin-bottom: .5rem;
}

.top-countries__name span {
	display: block;
}

.top-countries__name span:first-child {
	margin-right: 20px;
	width: 170px;
}

.top-countries__name span:last-child {
	width: 95px;
	text-align: right;
}

.top-countries__graphs {
	background: #e9e9e9;
	height: 2px;
	position: relative;
	display: flex;
	flex-direction: row;
}

.top-countries__graphs--defence {
	background: #d6214e;
	height: 2px;
}

.top-countries__graphs--civilian {
	background: #f99041;
	height: 2px;
}