{
  "extends": [
    "google",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    # "prettier/prettier": ["error", "fb"],
    "require-jsdoc": "off",
    "no-unused-vars": ["error", {"args": "after-used"}]
  }
}
