.container {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.content-wrapper {
	margin-top: 64px;
	height: calc(100vh - 64px);
	min-height: 200px;
	overflow: scroll;
}

.content-wrapper > *:not(.data-section-container) {
	padding: 43px 16px;
}

.loading {
	left: 50%;
	position: relative;
	top: 2rem;
	color: #2D80B5 !important;
	width: 100px !important;
	height: 100px !important;
}
