h1 {
  font: 1.5rem/1.25 'Source Sans Pro', sans-serif;
}

h2 {
  font: 1.4rem/1.5 'Source Sans Pro', sans-serif;
}

h3 {
  font: 1.2rem/1.25 'Source Sans Pro', sans-serif;
}

h4 {
  font: 2.5rem/2.75 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 4rem;
}

table + p {    
    font-size: 0.75rem !important;
    font-style: italic !important;
    margin-top: 0.125rem !important;
    margin-bottom: 1.5rem !important;
    padding-left: 0.5rem !important;
    padding-top: 0.5rem;
    border-top: 1px solid #ccc !important;
    color: rgba(33,33,33,0.6);
    line-height: 1rem !important;
}
