.icon {
  height: 1.5rem;
  margin-right: 5px;
  width: 1.5rem;
}

.icon-file-download path {
  color: rgba(255, 255, 255, .9);
  fill: rgba(255, 255, 255, .9);
}

.icon-play {
  fill: #ffffff;
  background: #FC8937;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}
