.md h1 {
  margin-bottom: 1.5rem;
  color: #333333;
  font-weight: 300;
  font-size: 3rem;
}

.md h2 { 
  margin-bottom: 2.5rem;
  font-size: 1rem;
  margin-top: 0.75rem;
  line-height: 2rem;
  font-weight: 700;
  color:#212121;
}

.md p {    
  margin-bottom: 1.5rem;
  margin-top:0;
  font-size: 1rem;
  line-height: 1.75rem;
}

.md {
  line-height: 1.62;
}

.md a {
  font-weight: 600;
}

.md h3{
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.md em{
  font-size: 0.75rem !important;
  font-style: italic  !important;
  color: rgba(33,33,33,0.6);
  line-height: 0.25rem !important;

}
.md hr {
  height: 1px;
  background-color: #ddd;
  border: 0;
  margin: 0 -1rem 1rem -1rem;
}

.md ol li{
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 0.875rem;
}

.md ul{
  margin: -1.5rem 1rem 1rem 1rem;
  line-height: 2rem;
}

.about-md{
  padding: 1rem 2rem 0 2rem;
}

.about-md h1 {
  margin-bottom: 1rem;
  color: #333333;
  font-weight: 300;
  font-size: 2.25rem;
  margin-top: 3.5rem;
}
.about-md h3 {
  color: #333333;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.about-md h2 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.about-md p {
  margin: 0 0 2rem 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.about-md {
  line-height: 1.62;
}

.about-md a {
  font-weight: 600;
}

.about-md hr {
  height: 1px;
  background-color: #e9e9e9;
  border: 0;
}
.about-md hr:last-of-type {
  margin-bottom: 32px;
}