.has-spacer:after {
  background: #ccc;
  content: '';
  display: block;
  height: 1px;
  margin: 1rem 0;
  width: 100%;
}

.is-centered {
  text-align: center;
}

.is-centered.has-spacer:after, .is-centered .has-spacer:after {
  margin: 1rem auto;
}

.is-strong {
  font-weight: 700;
}

.is-hidden {
  display: none;
}

.is-rounded {
  border-radius: 50%;
}

.is-block {
  display: block;
}

.is-blue {
  color: #2D80B5;
}

.is-light {
  font-weight: 300;
}

.no-bullets {
  list-style: none;
}

.box-shadow {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.29);
}