::-webkit-scrollbar {
    width: 0.375rem;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.375rem;
    margin:2px;
    border-radius: 0.375rem;
    background: #ddd; 
}