/*
input[type=radio]+label {
  margin-left: 5px;
}
*/

input[name=countryList] {
	display: none;
}

input[name=countryList]:checked + label[for=defence]:before{
    background-color: #fe6100;
    box-shadow: inset 0 0 0 2px #fff;
}

input[name=countryList]:checked + label[for=total]:before{
    background-color: #999999;
    box-shadow: inset 0 0 0 2px #fff;
}

input[name=countryList]:checked + label[for=civilian]:before{
    background-color: #785ef0;
    box-shadow: inset 0 0 0 2px #fff;
}

input[name=countryList]:not(:first-of-type) + label {
	border-left: 0;
}

label {
	color: #999;
  margin: 0.25rem 1rem 0.5rem 0;
	transition: background .1s ease;
	font-size: 0.875rem;
	padding: 0.5rem 0;
  clear: right;
  float: left;
	display: block;
  font-weight: 700;
	cursor: pointer;
}

label[for=defence]:before {
  content: '';
  border-radius: 100%;
  border: 1px solid #fe6100;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-top:1px;
  margin-right: 0.25rem;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  transition: all 250ms ease;
}
label[for=defence]{
  color: #fe6100;
}

label[for=total]:before {
  content: '';
  border-radius: 100%;
  border: 1px solid #999999;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-top:1px;
  margin-right: 0.25rem;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  transition: all 250ms ease;
}


label[for=civilian]:before {
  content: '';
  border-radius: 100%;
  border: 1px solid #785ef0;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-top:1px;
  margin-right: 0.25rem;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

label[for=civilian]{
  color: #785ef0;
}
