/*
input[type=radio]+label {
  margin-left: 5px;
}
*/

input[name=countryList] {
	display: none;
}

input[name=countryList]:checked + label {
  background: #e9e9e9;
}

input[name=countryList]:not(:first-of-type) + label {
	border-left: 0;
}

label {
	color: #999;
  margin: 1rem 0px;
  width:33%;
	transition: background .1s ease;
	font-size: 0.875rem;
	padding: 0.5rem 0;
  clear: right;
  float: left;
	display: block;
  font-weight: 700;
  background: #fff;
  text-align: center;
	cursor: pointer;
}

label[for=defence]{
  color: rgb(153, 112, 171);
  border: 1px solid #e9e9e9;
}

label[for=total]{
  border: 1px solid #e9e9e9;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

label[for=civilian]{
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  color: rgb(90, 174, 97);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
